.about {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-image: url('../app/assets/banner/who_are_us.jpg');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
    filter: brightness(50%);
  }
}

.text-gold {
  color: #ccc48b;
}
