.landing__header_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &_card {
    width: 80%;
    border-radius: 15px;

    .img {
      display: block;
      height: 200px;
      width: 100%;
      height: inherit;
      object-fit: cover;
    }

    &_container {
      &_head {
        color: #fff;
        padding: 1em;
        margin-top: 0.5em;
        font-weight: bold;

        h3 {
          font-size: 25px;
        }

        &1 {
          display: flex;
          flex-direction: column;
          padding: 1em;
          font-weight: bold;

          strong {
            font-size: 1.75rem;
          }

          &:first-child {
            color: #7172b3;
          }
          &:last-child {
            color: gray;
          }
        }
      }
    }
  }
}

@media screen and(min-width: 640px) {
  .landing__header_body {
    &_card {
      display: flex;
      justify-content: space-between;
      height: 300px;

      .img {
        width: 45%;
        border-radius: 15px 0 0 15px;
      }

      &_container {
        width: 54%;

        &_head {
          margin-top: unset;
          border-radius: 0 15px 0 0;
        }
      }
    }
  }
}

@media screen and(min-width: 830px) {
  .landing__header_body {
    flex-direction: row;
    justify-content: center;
    gap: 3em;

    flex-wrap: wrap;
    padding: 0 10%;

    &_card {
      flex: 0 0 33.3333%;
      max-width: 350px;
      min-width: 300px;

      .img {
        width: 45%;
        border-radius: 15px 0 0 15px;
      }

      &_container {
        width: 54%;

        &_head {
          margin-top: unset;
          border-radius: 0 15px 0 0;
        }
      }
    }
  }
}
